.header{
    border-bottom: 1px solid whitesmoke;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: darkorange;
    font-size: large;
}

.header-icon{
    font-size: large;
    margin: 5px;
}